{% extends 'base.html' %}

{% block title %}
Delete a List
{% endblock title %}


{% block main %}
<div>
    <h1>Are you sure?</h1>
    <form method="post">
        {% csrf_token %}
        <button>Delete</button>
</form>
</div>
{% endblock main %}
