{% extends 'base.html' %}

{% block title %}
{{list_object.name}}
{% endblock title %}


{% block main %}
<div>
    <h1>{{ list_object.name }}</h1>
    <p><a href="{% url 'todo_list_update' list_object.id %}">Edit</a></p>
    <p><a href="{% url 'todo_list_delete' list_object.id %}">Delete</a></p>
    <h2>Tasks</h2>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in list_object.items.all %}
            <tr>
                <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a></td>
                <td>{{ item.due_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}
