{% extends 'base.html' %}

{% block title %}
Update an item
{% endblock title %}


{% block main %}
<div>
    <h1>Update item</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Update</button>
</form>
</div>
{% endblock main %}
