{% extends 'base.html' %}

{% block title %}
Edit a List
{% endblock title %}


{% block main %}
<div>
    <h1>Update list</h1>
    <form method="post">
        {% csrf_token %}
        {{ list_form.as_p }}
        <button>Update</button>
</form>
</div>
{% endblock main %}
