{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> {% block title %} {% endblock title %} </title>
</head>
<body>
    <main>
        {% block main %} {% endblock main %}
    </main>
</body>
</html>
